# Rust
/target/
Cargo.lock

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Build outputs
SFS_HAN_MOD/SFS_HAN_MOD/bin/
SFS_HAN_MOD/SFS_HAN_MOD/lib/
SFS_HAN_MOD/SFS_HAN_MOD/obj/
SFS_Language_TOOL/target/
SFS_Language_TOOL/assets/

# Release
release/
*.zip
